.nav{
    background: #30A283;
    padding-top:20px;
    width: 100%;
    height: 40px;
    color:#fff;
    margin-bottom: 1px solid transparent;  
}

.nav > .nav__menu-primario{
    list-style: none;
}
.nav__menu-item{
    position: relative;
    cursor: pointer;
}

.nav__menu-primario .nav__menu-item:hover  .nav__menu-secundario{
    display: block;
}